TODO's
# check
    unused imports
    remove commented code
    add comments
    timestamps
    todo items
    run pystyle
    format htmls
    remove unused functions
    remove unused models, views, urls, templates
    remove users with no listings

+ Admin: 
    Admin can view, add, edit, and delete 
    any listings, comments, and bids

+ create CSS styles

+ search & resolve "todo" items
