body {
  background-color: #f8f9fa;
}

.header-background {
  background-color: #003366;
  color: white;
  padding: 10px 25px;
}

.text-md-right {
  text-align: right;
}

#message {
  font-weight: bold;
}

#login_or_register {
  font-size: small;
  /* display: inline; */
}

#bid_form {
  margin: 10px 0px;
}

.nav {
  margin-bottom: 20px;
  padding: 5px 25px;
  background-color: rgb(233, 233, 233);
}

/* menu styling */
.nav-link {
  text-decoration: none;
  padding: 0 10px;
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f9fa;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  display: block;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #e9ecef;
}

#content_block {
  padding: 0 25px;
}

#title {
  margin-top: 15px;
}

#details {
  padding: 25px;
}

#index_details {
  padding: 15px;
}

#comments_heading {
  padding: 15px 25px;
}

#comment_block {
  padding: 10px 25px;
  font-weight: bold;
}

#comments {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 25px;
}

#listing_block {
  margin: 20px;
}

#listing_title,
#listing_description,
#price_bid_container {
  margin-left: 20px;
}

#listing_price {
  font-size: large;
  font-weight: bold;
}

#price_bid_container {
  font-size: small;
}

#listing_img {
  max-width: 400px;
  height: auto;
}

#closing_time_soon {
  font-weight: bold;
  color: red;
}

#closing_time_running {
  font-weight: bold;
  color: green;
}

#closing_time_closed {
  font-weight: bold;
}

#image_thumbnail {
  width: 150px;
  height: 150px;
}

#image_container {
  text-align: center;
}

#ul_no_bullets {
  list-style: none;
}

#list {
  margin-bottom: 20px;
}

#listing_container {
  padding: 15px 0;
  margin-bottom: 25px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(228, 227, 227);
}