body {
    padding: 10px;
}

/* Basic styling for navigation */
/* .nav {
    list-style-type: none;
    padding: 0;
  } */
  
  /* .nav-item {
    display: inline-block;
    position: relative;
  } */
  
  /* menu styling */
  .nav-link {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f9fa;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #e9ecef;
  }

  #listing_block {
    margin: 20px;
    /* margin: 20px 20px; */
  }

  #listing_category {
    margin-left: 0px;
  }
  
  #listing_title {
    margin-left: 20px;
  }

  #listing_description {
    margin-left: 20px;
  }

  #listing_price {
    margin-left: 20px;
  }

  #listing_img {
    max-width: 400px;
    height: auto;
  }

  #closing_time_soon {
    font-weight: bold;
    color: red;
  }

  #closing_time_running {
    font-weight: bold;
    color: green;
  }

  #closing_time_closed {
    font-weight: bold;
  }

  #image_thumbnail {
    width: 150px;
    height: 150px;
  }

  #ul_no_bullets {
    list-style: none;
  }




  
  /* .dropdown-menu li a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #333;
  } */