{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <!-- todo add \\ message div as in login / register if not logged in, and grey out "bid" button if available-->
    {% if not is_authenticated %}
        Like this item? Register or log in to place a bid!
    {% endif %}

    <!-- loop through categories and sort them -->
    {% for category in categories %}
    <!-- list category if auction items use it -->
        {% if category.listings.count > 0 %}
            <div id="listing_block">
                <!-- display category name and link to its page -->
                <a id="listing_category" href="{% url 'category_detail' category.id %}">{{ category.title }} >></a>
                <ul>
                    <!-- loop through listings displaying only those that belong to this category -->
                    {% for listing in listings %}
                        {% if listing.category.id == category.id %}
                        <li>
                            <div id="listing_title">
                                <!-- route the user if seller -->
                                    {% include "auctions/user_seller_routing.html" with listing=listing user=user %}                            </div>
                            <div id="listing_price">
                                ${{ listing.price }}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}