{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctioneers</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <!-- always show the following menu items -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li>
            <!-- show menu items for registered users -->
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle">My Account</a>
                        <ul class="dropdown-menu">
                            <!-- admin link for superusers -->
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="/admin/">Admin</a>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{% url 'watchlist' %}">Watchlist</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'selling' %}">My Listings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'bids' %}">My Bids</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'purchases' %}">My Purchases</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'sell' %}">Sell On Auctioneers!</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
