{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <!-- open image in new window onclick-->
        <img src="{{ listing.image.url }}" alt="Listing Image" id="listing_img" 
        onclick="window.open('{{ listing.image.url }}', '_blank', 'width=800', 'height=600');" 
        style="cursor: pointer">
    </div>

    <div>
        <h2>{{ listing.title }}</h2>
    </div>
    <div>{{ listing.description }}</div>
    <div>Current Bid: {{ listing.price }}</div>
    <div>Listed: {{ listing.timestamp }}</div>
    <div>Closing: {{ listing.closing_time }}</div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
        </div>
    <div>
        <!-- watchlist & bid buttons appears if user is not seller-->
        {% if user.is_authenticated and listing.seller.id != user.id %}
            <!-- <div>Place your bid!</div> -->

            <!-- Bid Button -->
            <form action="{% url 'listing_detail' listing.id %}" method="POST">
                {% csrf_token %}
                <label for="bid_amount" name="bid_amount">Place your bid! $</label>
                <input type="number" id="bid_amount" name="bid_amount"step="0.01" min="0.01" required>
                <button type="submit" name="action" value="bid">Place Bid</button>
            </form>

            <!-- watchlist button -->
            <form action="{% url 'listing_detail' listing.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit" name="action" value="toggle_watchlist">
                    {% if listing in user.watchlist.all %}
                        Remove from Watchlist
                    {% else %}
                        Add to Watchlist
                    {% endif %}
                </button>
            </form>

        {% endif %}
    </div>
{% endblock %}