{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    <div>
        <!-- watchlist button appears if user is not seller-->
        {% if user.is_authenticated and listing.seller.id != user.id %}
        <form action="{% url 'listing_detail' listing.id %}" method="POST">
            {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit">
                    {% if listing in user.watchlist.all %}
                        Remove from Watchlist
                    {% else %}
                        Add to Watchlist
                    {% endif %}
                </button>
            </form>
            {% endif %}
    </div>
{% endblock %}